<%= render 'layouts/location_navbar' %>

<h1><%= t('delivery_fee.page_title') %> </h1>

<div class="container">
  <div class='row'>
    <%= render 'form', delivery_fee: @delivery_fee %>
  </div>
</div>

<div class="container page-control">
  <%= link_to t('back'), delivery_fees_path, class: 'back' %>
</div>
