<h1><%= t('customers.page_title') %> </h1>

<div class="container">
  <div class='row'>
    <%= render 'form', customer: @customer %>
  </div>
</div>

<div class="container page-control">
  <%= link_to t('back'), customers_path, class: 'back' %>
</div>
