<div class="row">
  <div class="fileinput fileinput-new text-center" data-provides="fileinput">
    <div class="fileinput-new thumbnail img-raised">
        <%= image_tag get_proper_picture(form), width: '100%' %>
    </div>
    <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
    <div>
        <span class="btn btn-raised btn-round btn-default btn-file">
            <span class="fileinput-new"> <%= t('multisales.upload') %></span>
            <%= form.file_field :image %>
        </span>
    </div>
  </div>
</div>
